<div id="post" ng-class="{'console': !isConsole}">
    <!-- 加載本地音頻 -->
    <div ng-show="isLoadAudioFile" class="vertically_center">
        <div id="load_audio_file">
            <label for="audio_file" class="addBGI faster_animate"></label>
            <input id="audio_file" type="file" accept="audio/mp4, audio/ogg, audio/m4a, audio/x-m4a">
        </div>
    </div>
    <!-- 已加載本地音頻 -->
    <div ng-hide="isLoadAudioFile">
        <audio id="audio_player" controls></audio>
        <div id="console" ng-show="!isShowSectionItems">
            <!-- 控制按鈕 -->
            <span ng-click="skip(-30)" class="sprite sprite-30s-Skip-Back post_button faster_animate"></span>
            <span ng-click="skip(-5)" class="sprite sprite-5s-Skip-Back post_button faster_animate"></span>
            <span ng-click="skip(5)" class="sprite sprite-5s-Skip-Forward post_button faster_animate"></span>
            <span ng-click="skip(30)" class="sprite sprite-30s-Skip-Forward post_button faster_animate"></span>
            <span id="rate_icon" ng-click="toggleRate()" class="sprite sprite-Rate-2x post_button faster_animate"></span>
            <span ng-click="refreshStartTime(30)" class="sprite sprite-Refresh post_button faster_animate"></span>
            <span id="items_icon" ng-click="toggleSectionItems()" class="sprite sprite-Section-Items post_button faster_animate" ng-class="{'emptyItems': sectionItems.length <= 0}"></span>
            <!-- 新增數據項 -->
            <form class="newItem" novalidate ng-submit="sectionSubmit()" name="form">
                <div>
                    <input type="number" placeholder="H" ng-model="newSection.original_start.h" class="faster_animate" min="0" max="23" required>
                    <input type="number" placeholder="M" ng-model="newSection.original_start.m" class="faster_animate" min="0" max="59" required>
                    <input type="number" placeholder="S" ng-model="newSection.original_start.s" class="faster_animate" min="0" max="59" required>
                </div>
                <input id="section_title" type="text" placeholder="TITLE" ng-model="newSection.title" class="faster_animate" required>
                <input ng-disabled="form.$invalid" type="submit" value=" " class="addBGI faster_animate" sy-notify>
            </form>
        </div>
        <!-- 時間線演示 -->
        <div ng-show="isShowSectionItems && !isEditSectionItems">
            <div id="pp-wrapper"></div>
        </div>
    </div>
</div>

<!-- Outer -->
<!-- 幫助 -->
<a ng-if="isLoadAudioFile" href="#!/guide#troubleshoot">
    <div id="help" class="bottom_right_corner">
        <span>?</span>
    </div>
</a>
<!-- 側邊按鈕-->
<div ng-show="isShowSectionItems && !isShowAlert" class="bottom_right_corner faster_animate">
    <!-- 返回控制台按鈕 & 編輯數據按鈕 -->
    <div ng-show="!isEditSectionItems && !isShowItemsData">
        <span ng-click="toggleSectionItems()" class="sprite sprite-Console post_button faster_animate"></span>
        <span ng-click="toggleEditSectionItems()" class="sprite sprite-Edit-Items post_button faster_animate"></span>
    </div>
    <!-- 同意編輯按鈕 & 取消編輯按鈕 & 刪除單項數據 & 清空數據按鈕-->
    <div ng-show="isEditSectionItems">
        <span ng-click="toggleEditSectionItems()" class="sprite sprite-OK post_button faster_animate"></span>
        <span ng-click="toggleShowAlert('UNDO ALL CHANGES', 'undoSectionItems')" class="sprite sprite-Cancel post_button faster_animate"></span>
        <span ng-click="toggleDeleteItem()" class="sprite post_button faster_animate" ng-class="{'sprite-Delete-Item': !isDeleteItem, 'sprite-Delete-Item-Before': isDeleteItem}"></span>
        <span ng-click="toggleShowAlert('DELETE ALL DATA', 'clearSectionItems')" class="sprite sprite-Clear-Section-Items post_button faster_animate"></span>
    </div>
    <!-- 下載數據按鈕 & 導出數據按鈕 -->
    <div ng-show="!isEditSectionItems">
        <a ng-show="isShowItemsData" id="downloadItemsData">
            <span ng-click="downloadItemsData()" class="sprite sprite-Export post_button faster_animate"></span>
        </a>
        <span ng-click="toggleItemsData()" class="sprite post_button faster_animate" ng-class="{'sprite-Export': !isShowItemsData, 'sprite-Export-Selected': isShowItemsData}"></span>
    </div>
</div>
<!-- 編輯數據 -->
<div ng-if="isShowSectionItems && isEditSectionItems" class="popup faster_animate">
    <h2>EDIT ITEMS</h2>
    <div class="popup_inner">
        <div ng-repeat="item in editSectionItems track by $index">
            <div class="delete_item faster_animate" ng-show="isDeleteItem">
                <span ng-click="deleteItem($index)" class="sprite post_button faster_animate"></span>
            </div>
            <form class="editItems" novalidate name="form">
                <input type="number" placeholder="H" ng-model="item.original_start.h" class="faster_animate" min="0" max="23" required>
                <input type="number" placeholder="M" ng-model="item.original_start.m" class="faster_animate" min="0" max="59" required>
                <input type="number" placeholder="S" ng-model="item.original_start.s" class="faster_animate" min="0" max="59" required>
                <input id="section_title" type="text" placeholder="TITLE" ng-model="item.title" class="faster_animate" required>
            </form>
        </div>
    </div>
</div>
<!-- 導出數據 -->
<div ng-if="isShowItemsData" class="popup faster_animate">
    <h2>DATA ITEMS</h2>
    <div class="popup_inner">
        <pre>{{sectionItemsData}}</pre>
    </div>
</div>
<!-- 提示框 -->
<div ng-if="isShowAlert" id="alert" class="popup faster_animate">
    <div class="vertically_center">
        <h2>{{alertTitle}}</h2>
        <div>
            <span ng-click="ok()" class="sprite sprite-OK post_button faster_animate"></span>
            <span ng-click="toggleShowAlert()" class="sprite sprite-Cancel post_button faster_animate"></span>
        </div>
    </div>
</div>